<!DOCTYPE html>
<html lang="pt" dir="ltr">
<% console.log('Exibindo página soma.ejs') %>

<head>
  <meta charset="utf-8">
  <title>Calculadora</title>
</head>
<!--O que fica após o ? no link é chamado de query; cada vez que fazemos cadastro de usuário, é necessário usar método post
 Get -- informações ficam no query
 Post - informações ficam no body
 <% %> == tag que é um pedaço do javascrip/script que vai ser executado (se chama scriptlet)
roda somente o que está escrito no servidor
pode ter for, if else, exibição de variáveis
EJS consegue tratar tanto código javascript quanto html e renderiza tudo para html e exibe na página
na requisição de renderizar, você vai passar os parâmetros com mesmo nome:>
app.get("/", (req, res))
-->

<body>
  <form action="/mult" method="post">
    <label> Nome </label>
    <input id="nome" name="nome" />
    <br>
    <label> Valor 1 </label>
    <input id="n1" name="n1" /><br>
    <label> Valor 2 </label>
    <input id="n2" name="n2" />
    <label> Operação </label><br>
    <input id="op" name="op" />
    <button type="submit">Enviar</button>
    <a href="/soma">Soma</a>
    <a href="/sub">Subtração</a>
    <a href="/div">Divisão</a>
  </form>
  <%if( typeof(x) !="undefined" ){%>
  <h1>Resultado:</h1>
  <h3 id="resultado" name="resultado">
    <%=x%>
  </h3>
  <% } else { %>
  <h4>aguardando valores...</h4>
  <% } %>
</body>

</html>